<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://code.jquery.com/jquery-git2.min.js"></script>
</head>
<body>

<!-- Navbar -->
	
	<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
		<div class="container">
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/projects" th:text="#{app.title}"></a>
	            <p>
					<a href="/?lang=fr">French</a> | <a href="/?lang=en">English</a>
				</p>	
	            <a th:if="${#authentication.name} == admin" class="navbar-brand" href="/adminDashboard" th:text="#{header.updateSite}"></a>
	        </div>
	        <div class="navbar-collapse collapse" id="nav-collapse">
	            <ul class="nav navbar-nav navbar-right">
	            	<li><a th:inline="text" sec:authorize="hasAuthority('USER')"><span th:text="#{header.greeting}"></span> [[${#httpServletRequest.remoteUser}]]</a></li>
	            	<li><a href="/userDashboard" sec:authorize="hasAuthority('USER')" th:text="#{button.dashboard}">
	            	<!-- <"/@{/users/} + ${user.id}"> --><i class="fa fa-tachometer" aria-hidden="true"></i>
	            	</a></li>
	            	<li><a href="/login" sec:authorize="!hasAuthority('USER')" th:text="#{button.login}"><i class="fa fa-sign-in" aria-hidden="true"></i>
	            	</a></li>
	            	<li></li>
	            	<li><a href="/logout" sec:authorize="hasAuthority('USER')" th:text="#{button.logout}">
	            	<i class="fa fa-sign-out" aria-hidden="true"></i></a></li>  
	            </ul>
	        </div>
	        <!--/.nav-collapse -->
        </div>
	</div>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>