body {
	padding-top: 90px;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.conainer_float {
	float: right;
}

.conainer_float_left {
	float: left;
	clear: none;
}

#time {
	float: right;
}