<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>KickFunder</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="css/style2.css"></link>
</head>

<body>

	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
	<table>
      <tr>
        <th>USER NAME</th>
        <th>FULL NAME</th>
      </tr>
      <tr th:each="user : ${user_list}">
		<td th:text="${user.userName}">Davykav</td>
        <td th:text="${user.fullName}">Dave Kavanagh</td>
      </tr>
    </table>
    </div>
    

</body>
</html>