<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:text="${project.name}">KickFundr</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/style.css"></link>
	<script src="https://use.fontawesome.com/4709fbc9b6.js"></script>
</head>

<body>
	<!-- Insert Navbar -->
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
    <div class="row">
 		<div class="col-md-3">
        	<p class="lead">Pledges</p>
            <div class="list-group">
                <li class="list-group-item" th:each="pledge : ${project.pledges}">
                	<span th:text="${pledge.user.userName}"></span>
                	<span class="pull-right"><i class="fa fa-eur" aria-hidden="true"></i><span th:text="${pledge.amount}"></span></span>
                </li>
                <li class="list-group-item" >
                	<strong>Total</strong>
                	<span class="pull-right"><i class="fa fa-eur" aria-hidden="true"></i><span th:text="${project.getTotal()}"></span></span>
                </li>
            </div>
            <a th:if="${project.active} == true" th:href="@{/projects/} + ${project.id} + @{/pledges/new}"><button class="btn btn-warning">Add Pledge</button></a>
            <a th:if="${project.active} == false" ><button class="btn btn-danger disabled">Project Closed</button></a>
        </div>
        <div class="col-md-7">
            <div class="thumbnail">
                <img class="img-responsive" th:src="${project.image}"></img>
                <div class="caption-full">
                	<div class="pull-right">
                		<h4>
                			Target: <i class="fa fa-eur" aria-hidden="true"></i>
                    		<span th:text="${project.goalAmt}"></span>
                   		</h4>
                	</div>
                    <h4 th:text="${project.name}"><a></a></h4>
                    <p th:text="${project.description}"></p>
                    <h4 class="pull-right">Time Remaining: <span th:text="${project.timeLimit}"></span> days</h4>    
                    <p> Submitted by 
                        <em th:text="${project.user.userName}"></em>
                    </p>					
                    <a th:if="${#authentication.name} == ${project.user.userName}" th:href="@{/projects/} + ${project.id} + @{/edit}"><button class="btn btn-warning">Edit</button></a>               
                </div>
            </div>
        </div>
        <div class="col-md-2">
        	<p class="lead">User Profile</p>
            <div class="list-group">
                <li id="projects" class="list-group-item" th:text="${project.user.fullName}"></li>
                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm">
	                <span>
	                	Projects: <span th:text="${project.user.getNumProjects()}"></span>
	               	</span>
                </a>
                <div id="sm" class="sublinks collapse">
					<li class="list-group-item small" th:each="project : ${project.user.getProjects()}" th:text="${project.name}"></li>
				</div>
                <a href="#" class="list-group-item" data-toggle="collapse" data-target="#mm">
                	<span>
                		Pledges: <span th:text="${project.user.getNumPledges()}"></span>
                	</span>
               	</a>
                <div id="mm" class="sublinks collapse">
					<li class="list-group-item small" th:each="pledge : ${project.user.getPledges()}">
						<span th:text="${pledge.project.name}"></span> - <i class="fa fa-eur" aria-hidden="true"></i>
						<span th:text="${pledge.amount}"></span>
					</li>
				</div>        
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
