<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>KickFundr</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/css/style.css"></link>
	<script src="https://use.fontawesome.com/4709fbc9b6.js"></script>
</head>

<body>
	<!-- Insert Navbar -->
	<div th:replace="fragments/header :: header">&nbsp;</div>

	<div class="container">
    <div class="row">
        <div class="col-md-3">
        <p class="lead">Pledges</p>
            <div class="list-group">
                <li class="list-group-item" th:each="pledge : ${project.pledges}" th:text="${pledge.amount}"></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" th:src="${project.image}"></img>
                <div class="caption-full">
                    <h4 class="pull-right" th:text="${project.goalAmt}"></h4>
                    <h4 class="pull-right" th:text="${project.timeLimit}"></h4>
                    <h4 th:text="${project.name}"><a></a></h4>
                    <p th:text="${project.description}"></p>    
                    <p>
                        <!-- user name here <em></em> -->
                    </p>
                    <button class="btn btn-warning">Edit</button>               
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
